---
import Benefits from "../jsons/benefits.json";
import "../style/benefits.css";
---

<section class="benefits">
  <div class="logo-container">
    <img src="./images/benefits.png" alt="" class="benefits-img" />
    <hr class="hr" />
  </div>

  <article class="benefits-container">
    {
      Benefits.map((benefit) => (
        <div class="div1">
          <img src={`./images/${benefit.img}`} alt="" class="b-img" />
          <p class="b-p">{benefit.content}</p>
        </div>
      ))
    }
  </article>
</section>
